
body {
  background-color: #000; /* Black color */
}
/* Override bg-dark in case Bootstrap updates don't catch the custom-header change */
.bg-dark {
  background-color: rgba(40, 44, 52, 0.70) !important;
}

.nav-container {
  padding-right: 20px;
}

.custom-btn {
  font-size: 1.2rem;  /* Adjust font size */
  padding: 10px 20px;  /* Increase padding: top-bottom, left-right */
  margin: 0 5px;  /* Optional: Add some margin between buttons */
  color: forestgreen;
  font-weight: bold
}

.saying {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 2rem; 
  display: inline-block; /* Making sure transform works */
  opacity: 0;
  animation: slideIn 1s 1s forwards; /* Adding a delay so you can notice the effect */
  color: rgb(218, 103, 9)
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.saying {
  font-family: 'Pacifico', cursive;
  /* ... other styles ... */
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.home-text {
  flex: 1;
  margin-right: 2rem;
}

.home-text h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: darkgreen
}

.home-text p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ac4f07;  /* Adjust to your preferred color */
  margin-bottom: 2rem; /* Space between the paragraph and the button */
}

.view-bars-btn {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-image {
  flex: 1;
}

.home-image img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional, to give rounded corners */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Space between grid items */
  margin-top: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drink-image {
  width: 250px;
  height: 250px; /* Setting a fixed height */
  border-radius: 20px;
  object-fit: cover; /* Ensures the image scales correctly */
}

.drink-image {
  filter: grayscale(50%);
  transition: filter 0.3s ease, transform 0.3s ease;
}
.drink-image:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* White with some transparency */
  border-radius: 10px; /* Slightly rounded border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* subtle shadow for a lifted look */
  margin-top: 50px;
  opacity: 70%;
  margin-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 15px; /* Space between each label-input group */
}

label input {
  width: 100%; /* Full width */
  padding: 10px; /* Padding inside the input field */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px; /* Slightly rounded border for the input */
  margin-top: 5px; /* Space between label and input */
  font-size: 16px; /* Slightly bigger font */
}

button {
  background-color: darkgreen; /* Choose a color that matches your theme */
  color: white; /* White text on the button */
  padding: 10px 15px; /* Padding inside the button */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s ease; /* Transition for a smooth color change on hover */
}

button:hover {
  background-color: #006400; /* A darker green on hover */
}

/* Optional: If you want to give a title to your form */
form h1 {
  text-align: center;
  margin-bottom: 20px; /* Space between the title and the first field */
}

.bar-show-container {
  text-align: center;
  color: green;
  margin-top: 50px;
}

.bar-show-container img {
  width: 300px;
  margin: auto;
  display: block;
  border-radius: 20px;
}

.bar-show-container .drink-description {
  max-width: 80%; /* Control the width to prevent it from taking up the entire page */
  margin: 20px auto; /* Center the description */
  text-align: left; /* For a more natural reading flow */
  text-indent: 2em; /* Indent the first line of the description */
  line-height: 1.5; /* Spacing between lines for readability */
}